<%- include("header") -%>

<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias possimus odit laboriosam. Repellat voluptates excepturi quidem?</p>

<%- include("footer") -%>